<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Generica</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<!-- Menú -->
    <nav class="nav navbar-expand-sm navbar-dark bg-dark fixed-top">
    	<!-- Container logo La Generica -->
    	<div class="container-fluid">
    		<a class="navbar-brand">img<img alt="Logo" src="../static/images/LaGenerica.png"></a>
    	</div>
    	
    	<!-- container páginas de navegación -->
    	<div class="container">
    		
    	</div>
    </nav>
</body>
</html>